@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;500;600&display=swap');

body{
	box-shadow: inset 800px 0px 100px rgba(0, 0, 0, 0.697);
}

button{
	background-color: rgb(206, 27, 27) !important;
}

.post{
	width: 100%;
	height: 600px;
	background: rgb(165,34,34);
	background: linear-gradient(180deg, rgb(147, 20, 20) 0%, rgb(159, 52, 37) 50%, rgba(0,212,255,0) 100%);
	background-repeat: no-repeat !important;
	background-position: right !important;
	/* box-shadow: inset 800px 0px 100px rgba(0, 0, 0, 0.697); */
	padding-top: 80px !important;
	display: flex;
	justify-content: space-between;
	margin-top: -100px;
}
.post1{
	padding: 100px 0 100px 8vw;
}
.post1 h1{
	font-size: 70px;
	color:aliceblue;
	font-family: 'Sora', sans-serif;
	margin-bottom: 40px;
	font-weight: 600;
}

.post1 button{
	background-color: rgb(206, 27, 27);
	color: aliceblue;
	border: none;
	padding: 15px 25px;
}

.post img{
	margin: 30px;
	border-radius: 0px 10px;
	
}


@media screen and (max-width:770px) {
	.post{
		background: rgba(165, 34, 34, 0);
		background: linear-gradient(180deg, rgba(147, 20, 20, 0) 0%, rgba(159, 51, 37, 0.525) 50%, rgba(0,212,255,0) 100%);
		height: 600px;
		flex-wrap: nowrap;
		justify-content: center;position: relative;
	}

	.post1 h1{
		font-size: 60px;
	}

	.post1{
		padding: 100px 50px 10px 8vw;
		width: 100%;
		box-shadow: inset 10px -100px 100px black;
	}
	.search{
		top:-130px !important;
	}
	
	.post img{
		position: absolute;
		z-index: -1;
		width: 40vh;
		height: 50vh;
		opacity: 0.5;
	}
}


@media screen and (max-width : 992px) {
	.post{
		margin-top: 80px;
	}
  }